spring:
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
      s3:
        bucket: ${AWS_S3_BUCKET}
      region:
        static: ap-northeast-2
      stack:
        auto: false

  config:
    activate:
      on-profile: prod

  application:
    name: demo

  servlet:
    multipart:
      max-file-size: 100MB     # 개별 파일 최대 100MB
      max-request-size: 100MB  # 전체 요청 최대 100MB

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  cache:
    type: redis
    redis:
      time-to-live: 30m

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "https://hwalibo-backend.duckdns.org/login/oauth2/code/naver"  # 하드코딩된 redirect-uri
            scope: [nickname, profile_image, gender]
            client-name: Naver
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-in-seconds: ${JWT_ACCESS_VALIDITY}
  refresh-token-validity-in-seconds: ${JWT_REFRESH_VALIDITY}

springdoc:
  swagger-ui:
    persistAuthorization: false
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

# CORS 설정
cors:
  allowed-origins:
    - "https://hwalibo-backend.duckdns.org"
    - "https://frontendproj-three.vercel.app/"
    - "http://localhost:5173"

logging:
  level:
    org.springframework.security: INFO

server:
  forward-headers-strategy: framework

app:
  oauth2:
    redirect-uri: "http://localhost:5173/auth/callback"
# "https://frontendproj-three.vercel.app/auth/callback"

feature:
  vision:
    enabled: true

google:
  credentials:
    path:  /app/config/service-account.json